/* 1200px PC*/

@media (min-width: 900px){

    
    
}

/* 601 até 900 para Notbook */

   


    /* 0 até 600 para Celular INICIO*/
@media screen and (max-width: 730px){
    /*banner*/
    .topo-corpo{
        background-image: linear-gradient(to bottom, transparent, #fff, #fff, #edeef1, #dcdee6, #b9bed3,#b9bed3, #b9bed3, transparent);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }    
    /*menu*/


    .topo-corpo header{
        justify-content: center;
        align-items: center;
        padding: 0%;
    }
    .topo-corpo header h1{
        background-image: url(../img/logos/logoteste.svg);
        width: 109px;
        height: 60px;
    }
   
   /*topo botao,slogan*/
   .topo-corpo .slogan-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25%;
}
.topo-corpo .slogan-cont .words{
    display: flex;
    flex-direction: column;
    height: 35px;
    overflow: hidden;
}
.topo-corpo .slogan-cont p, span{
    font-size: 2rem;
}
.slogan-btn-cont{
    justify-content: center;
}
.slogan-btn{
    font-size: 0.8rem;
    margin-top: 16%;
    width: 170px;
    height: 35px;
    padding: 9px;
}
.slogan-btn2{
    display: none;
}
  
    /*menu mobile*/
    .menu-item{
        display: none;
    }
    .mobile-menu .menu-item {
        display: block;
        padding-top: 3rem;
    }
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .topo-rede-social {
        display: none;
    }
    .topo-corpo header .menu-mobile{ 
        display: block;
        
    }
    
    .topo-corpo header .mobile-menu-icon {
        display: block;
    }
    .topo-corpo header .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .topo-corpo header .mobile-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
    }
    .topo-corpo header .mobile-menu .nav-item {
        display: block;
        padding-top: 3rem;
    }
    .topo-corpo header .mobile-menu .topo-rede-social {
        display: flex;
        padding-top: 5rem;
        gap: 20px;
    }

    /*configuração de quando o menu estiver aberto*/
    .open {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--white);
        height: 100vh;
        width: 100%;
        padding: 10%;
        position: absolute;    
        top: 0;
        z-index: 1;
    }
    .open ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .open .menu-item{ 
        display: block;
        padding-top: 4rem ;
    }
    .open .topo-rede-social{ 
        display: flex;
        justify-content: center;
        padding-top: 4rem;
    }
    /*efeito menu*/
    .menu-mobile ul, .menu-mobile div{
        opacity: 0;
        transition: opacity 0.4s ease-out;
      }
      
      .menu-mobile.open ul, .menu-mobile.open div{
        opacity: 1;
      }
    
    /*serviços do banner*/
    .posicionamento{
        position: relative;
        top: -100px;
    }
    .servicos-banner{
        align-items: center;
    }
    .servicos-banner div:nth-child(2){
        transform: translateY(0px);
    }
    .servicos-banner img{
        width: 40px;
        height: 40px;
    }
    .servicos-banner div{
        display: flex;
        width: 80%;
        border-radius: 20px;   
        padding: 5%;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    }
    .servicos-banner div:nth-child(2){
        display: none;
    }
    .servicos-banner div:nth-child(3){
        display: none;
    }
    .servicos-banner h2{
        font-weight: 500;
        font-size: 1.4rem;
        color: #161925;
        margin-top: 10px;
    
    }

    .servicos-banner p{
    font-size: 0.9rem;
    font-weight: 300;
    }

    .servicos-banner button{
     display: block;
    }
    .text{
        padding: 0.4rem 0;
        margin-left: 1rem;

    }
    .circle{
        position: relative;
        display: block;
        margin: 0;
        width: 2.5rem;
        height: 2rem;
        background: var(--darkblue);
        border-radius: 1.625rem;
        transition: all 0.4s ease-in-out;
    }
    .icon{
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background:  var(--white);
    }

   

/*Serviços*/

    .servicos{
        display: flex; 
    }
    .servicos .servicos-img {
        display: none;
    }
    .servicos-titulo{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        transform:translateY(5px);
        margin-bottom: 10%;
    }

    .servicos-titulo h2{
        font-size: 1.5rem;
        margin-top: 100px;
        margin-left: 10px;
    }
    .servicos-titulo span{
        font-weight: 800;
        font-size: 1.5rem;
    }

    .servicos-titulo p{
        font-size: 0.8rem;
    }

    /*Serviços tabela*/
    .tabela .img-tabela-responsive{
        display: block;
        width: 90px;
        height: 20px;
    }
    .tabela .img-tabela-oficial{
        display: none;
    }
    .servicos-tabela-cont{
        display: flex;
        flex-direction: column;
        text-align: left;  
        width: 100%;
    }
    .servicos-tabela{
        width: 100%;
        padding: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        transform: translateX(0px);
        height: auto;
        box-shadow: none;
        border-bottom: none;
     
    }
    .tabela{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
        gap: 8px;

    }
    .tabela div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        width: 50%;
        height: 210px;
        border-radius: 20px;
        box-shadow: 0 5px 15px 0 rgba(45, 54, 65, 0.6);
        background-image: linear-gradient(to bottom,#161925, #000);
    }
    .tabela div:nth-child(1){
        display: flex;
        align-self: flex-start;
        border-right: solid 5px var(--white);
        border-bottom: solid 5px var(--white);
        background-color: var(--white);
    }
    .tabela div:nth-child(2){
        display: flex;
        align-self: flex-end;
        border-left: solid 5px var(--white);
        border-bottom: solid 5px var(--white);
        background-color: var(--white);
    }
    .tabela div:nth-child(3){
        display: flex;
        align-self: flex-start;
        border-right: solid 5px var(--white);
        border-bottom: solid 5px var(--white);
        background-color: var(--white);
        
    }
    .tabela img{
        margin-bottom: 5px;
    }

    .tabela h3{
        text-align: left;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 1rem;
        color: #fff;
    }

    .tabela p{
        text-align: left;
        font-size: 0.7rem;
        font-weight: 200;
        font-family: 'Poppins', sans-serif;
        line-height: 1.1;
        letter-spacing: 1.4px;
        color: #fff;
    }

    .tabela-btn{
        display: none;
    }
    
    /*sobre*/
    .sobre{
        display: flex;
        width: 100%;
        gap: 8px;
        flex-direction: column;
        align-items: center;
    }
    .sobre img{
        width: 70%;
        height: 70%;
        display: none;
    }
    .sobre-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px;
        width: 75%;
    }
    .sobre-info h2{
        text-transform: uppercase;
        font-size: 1.3rem;
        margin-bottom: 10%;
    }
    .sobre-info span{
        font-weight: 800;
        font-size: 1.3rem;
    }
    .sobre-info p{
        font-weight: 300;
        font-size: 0.7rem;
        line-height: 1.5;
        letter-spacing: 1px;
        margin-bottom: 10%;
    }
    .sobre-info a{
        font-size: 0.5rem;
    }
    .sobre-info b{
        font-weight: 700;
    }
    
    .sobre-btn{
        width: 90px;
        height: 20px;
        font-weight: 400;
        font-size: 0.8rem;
        padding: 6px;   
    }
    
    /*Portfolio*/
    #portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portfolio-titulo{
        width: 80%;
  
    }
    .portfolio-titulo h2{
        font-size: 1.1rem;
        margin-top: 100px;
    }
    .portfolio-titulo span{
        font-size: 1.1rem;
    }
    .portfolio-titulo p{
        font-size: 0.7rem;
    }
    .portfolio-cont {
        height: 420px;
    }
    .portfolio{
        padding: 2%;
    }
    .portfolio div{
        background-image: url(../img/portfolio01.png);
        border-radius: 10px;
        width: 150px;
        height: 300px;
        margin-bottom: 30px;
    }
    .portfolio img {
        width: 30px;
        height: 30px; 
       }

    .portfolio div:nth-child(3){
        display: none;
    }
    .portfolio div:nth-child(4){
        display: none;
    }
     .btnConfira {
        width: 125px;     
        height: 25px;
        font-weight: 600;
        font-size: 0.7rem;    
        text-align: center;
        letter-spacing: 0;
        padding: 6px;   
    }
    /*avaliaçoes-clientes*/

    .clientes-cont{
        flex-direction: column;
       
    }
    .clientes-titulo{
        display: flex;
        flex-direction: column;
        margin-bottom: 1px;
        width: 75%;
        text-align: center;    
    
    }
    .clientes-titulo h2{
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .clientes-titulo span{
        font-weight: 800;
        font-size: 1rem;
    }
    .clientes-titulo p{
        font-weight: 400;
        font-size: 0.7rem;
        margin-bottom: 50px;
    }
    .clientes-titulo a{
        display: none;
    }
    .clientes{
        display: flex;
        justify-content: center;
        width: 100%;
        
    }
    .clientes div{
        background-color: var(--white);
        width: 75%;
        height: 250px;
        border-bottom: solid 5px var(--darkblue);
        border-radius: 20px;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    }
    .cliente-perfil {
        width: 50px;
        height: 50px;
        margin-left: 40%;
        border: solid 1px var(--darkblue);
        padding: 0.2%;
    }
    .cliente-estrela {
        margin-left: 32%;
        width: 100px;
    }
    .clientes h3{
        font-size: 1.3rem;
        padding: 3%;
    }
    .clientes p{
        font-weight: 300;
        font-size: 0.6rem;
        text-align: left;
        padding: 10%;
    }
    button.slick-next, button.slick-prev {
        display: none!important;
    }
    button.slick-next.slick-arrow {
        display: none;
    }
    /*rodape*/

footer{
    background-image: linear-gradient(to bottom,#161925, #000);
    width: 100%;
    height: 100%;
}

.rodape-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.rodape-cont h3{
        font-weight: 600;
        font-size: 0.7rem;
}
.rodape-cont p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 0.6rem;
    color: var(--white);
}
.rodape-info{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}
.rodape-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.rodape-1 div:nth-child(1){
    display: flex;
    gap: 50px;  
}
.rodape-1 div:nth-child(1) img{
     width: 90px;
}

.rodape-1-rede{
    display: flex;
    margin-top: 4%; 
}


.rodape-2, .rodape-3{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.rodape-2 h3, .rodape-3 h3{
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    margin-bottom: 10%;
}


.rodape-2 a, .rodape-3 a{
    font-size: 0.7rem;
}

    }
    /* .abrir-menu{
        background-image: url("../img/menu-hamburguer.svg");
        background-size: cover;
        padding: 5%;
        border: 0;
        display: block;
    } */