@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*font-family: 'Poppins', sans-serif;*/

:root {
  --darkblue: #161925;
  --lightblue: #446688;
  --white: #fffcf9;
  --green: #31af8b;
  --orange: #ff850a;
  --shadow-card: 5px 5px 15px rgba(0,0,0,0.1);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

main{
    place-items: center;
}

.inserir-container{
    background-color: var(--white);
    width: 65%;
    padding: 3%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: var(--shadow-card);
}
.inserir-title{
    background-color: var(--white);
    border-radius: 20px;
    text-align: center;
    padding: 2%;
    width: 60%;
    box-shadow: var(--shadow-card);
}
.inserir-title span{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2%;
    padding: 2%;
    
}
.form-container{
    width: 90%;
    justify-content: space-between;
    display: flex;
  
}
.form-content{  
    width: 50%;
 }
 form{
    position: relative;
 }
 .form-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
 }
 .form-img img{
    border-radius: 20px;
    width: 18rem;
 }

.enviar-arquivo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkblue);
    width: 18rem;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    opacity: 0.9;
    font-size: 1rem;
    gap: 3%;
}
input[type=text],
input[type=url]
{
    background-color: rgba(231, 230, 234, 0.9);
    width: 100%;
    height: 60px;
    border-radius: 10px;
    padding: 2%;
    border: none;
    margin-bottom: 3%;
}
input[type=text]:nth-child(1){
   
    width: 70%;
}
input[type=submit]{
    margin-top: 1%;
    width: 100%;
}

input[type=file]{
   display: none;
}

input[type=checkbox]{
    display: none;
}
   
   input[type=checkbox] + label::before{
       content: "Ativo";
       color: var(--darkblue);
       position: absolute;
       display: flex;
       align-items: center;
       justify-content: center;
       top: 0;
       right: 10px;
       background-color: #2bee11;
       box-shadow: var(--shadow-card);
       height: 60px;
       width: 110px;
       border-radius: 10px;
       border: none;
       cursor: pointer;
       transition: all 0.4s ease-in-out;
       align-self: center;
       opacity: 0.9;
       font-size: 1rem;
       cursor: pointer;
       box-shadow: rgba(10px, 15px, 15px, 0.5);
   }
   input[type=checkbox]:checked + label::before{
       content: "Inativo";
       color: var(--darkblue);
       background-color: rgb(92, 78, 78);
       cursor: pointer;
   }

textarea{
    background-color: rgba(231, 230, 234, 0.9);
    width: 100%;
    height: 150px;
    border-radius: 10px;
    padding: 2%;
    border: none;
    margin-bottom: 1%;
}
.formBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darkblue);
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    align-self: center;
    opacity: 0.9;
    font-size: 1rem;
}
.formBtn:hover {
   opacity: 1;
}




/* grid-column: 2 / -1;
grid-auto-rows: auto;
grid-template-columns: 1fr; */